<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Symfony Exercise!</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
        {% endblock %}

    </head>

    <body>

        <div id="menu">

            <h2> Menu </h2>

        </div>

        <ul class="personal_data">

            <li>Adrian Janicki</li>

        </ul>

    </body>

</html>
