<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8"/>
        <title>Welcome to Symfony Exercise!</title>

    </head>

    <body>

        <div id="menu">

            <h2> Menu </h2>

        </div>

        <ul class="personal_data">

            <li>Adrian Janicki</li>

        </ul>

    </body>

</html>
